<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1" configfailurepolicy="continue" parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="com.customertimes.framework.listeners.TestListener"></listener>
    </listeners>
    <test name="Regression">
        <packages>
            <package name="com.customertimes.test.purchase.*" >
            </package>
            <package name="com.customertimes.test.registration.*" >
            </package>
            <package name="com.customertimes.test.login.*" >
            <exclude name="com.customertimes.test.login.mfa.*"/>
            </package>
        </packages>
    </test>
</suite>
